{% extends "index.html" %}

{% block title %}
    Users
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">User ID</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.user_id }}</td>
                <td>
                    {% if user.username %}
                        <a href="https://t.me/{{ user.username }}" class="btn btn-link">Telegram</a>
                    {% else %}
                        <a href="https://t.me/{{ user.username }}" class="btn disabled">Telegram</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
